/* base layout */
html, body {
height: 100%;
position: relative;
overflow: hidden;
margin: 0;padding: 0;
font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #0c0c0e;
}

select, input, textarea {background:#efefef; border:1px solid #505050; color:#0c0c0e;
-moz-border-radius:3px; -webkit-border-radius: 3px; border-radius:3px;}

.hidden { display: none;}

#header { height:4.1em; text-align:center; }

#footer {
width:100%; height:90px;
position:absolute;
left:0;bottom:0;
}

#tree {
width:25%;
position: absolute;
left: 0;top:4.1em;bottom:90px;
overflow: auto;
}

#main {
width:75%;
position: absolute;
right:0;top:4.1em;bottom:90px;
overflow:auto;
}

.panel {
position:absolute;
left:0;top:0;
width:100%;height:100%;
}

#ajaxIndicator {
position: absolute;
top:0; right:0;
z-index: 2;
}

#boxFilter {
display: inline-block;
position: relative;
}
#fldFilterResetButton {
   position: absolute;
   right:28px; top:0;
   border: 0;
   background: transparent;
}
#fldFilterSelect {
   position: absolute;
   left:0; top:19px; width:142px;
   z-index: 3;
}

#tree ul { padding-left:20px;}
#tree li { list-style:none;}
#tree li.collapsed ul { display: none;}
#tree li span.expand {
cursor: pointer;
width: 16px;height:16px;
display: inline-block;
}
#tree li span.folder {
cursor: pointer;
display: inline-block;
}

#main p { padding: 1.3em;}

#main .thumb {
width: 120px; height: 120px;
float:left;
margin: 4px;
position:relative;
text-align: center;
border:1px solid transparent;
}
#main .thumb span.image {
display: block;
line-height: 100px;
}
#main .thumb span.image img {
max-width: 110px; max-height:100px;
vertical-align: middle;
}
#main .thumb span.name {
width: 100%; max-height:20px;
position:absolute;
bottom: 0;left:0;
text-align: center;
overflow: hidden;
text-overflow:ellipsis;
}

#main table {
    width: 90%;
    border: 0;
    margin: 0.2em auto;
}
#main td { border: 1px solid transparent; }

.panel .dialog {
position: absolute;
left:0;top:0;bottom:0;right:0;
width: 50%;height:25%;
margin:auto;
}
.panel .dialog p { text-align: center; }

#panelUpload .dialog {
width: 80%;height:70%;
}

#footer p {
    text-align: right;
    padding-right: 1em;
    width: 20%;
    float:right;
}

#selectedFile { max-width:80%; float:left; margin:3px;}

#selectedFile .thumb {
float:left;
display: inline
}
#selectedFile p {
float:left;
margin:2px;
text-align: left;
width: auto;
}


/* color theme default */
/* TODO obrazky pomoci data uri: background:url(data:image/gif;base64,R0lGODdh+g... */

a.buton, input.buton, button.buton  {color:#535353; font-size:12px; line-height:21px; height:21px; padding:3px 24px; text-decoration:none; 
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
border:#535353 solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#b8b8b8; 
background-image: -ms-linear-gradient( top, rgba( 252, 252, 252, 1 ), rgba( 184, 184, 184, 1 ) );
background-image: -o-linear-gradient( top, rgba( 252, 252, 252, 1 ), rgba( 184, 184, 184, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#b8b8b8'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#b8b8b8)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #fcfcfc, #b8b8b8); /* for firefox 3.6+  */}

a:hover.buton, input:hover.buton, button:hover.buton {repeat-x; color: #ffffff; border:#535353 solid 1px; cursor:pointer;
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#cc0708; 
background-image: -ms-linear-gradient( top, rgba( 116, 116, 116, 1 ), rgba( 52, 52, 52, 1 ) );
background-image: -o-linear-gradient( top, rgba( 116, 116, 116, 1 ), rgba( 52, 52, 52, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#747474', endColorstr='#343434'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#747474), to(#343434)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #747474, #343434); /* for firefox 3.6+  */}

input.buton, button.buton {padding:0 4px; margin: 4px; line-height:inherit; height: auto;}


#header {
background: #d0d0d0; /* Old browsers */
background-image: -ms-linear-gradient( top, rgba( 206, 206, 206, 1 ), rgba( 167, 167, 167, 1 ) );
background-image: -o-linear-gradient( top, rgba( 206, 206, 206, 1 ), rgba( 167, 167, 167, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#a7a7a7'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#a7a7a7)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #cecece, #a7a7a7); /* for firefox 3.6+  */
border-bottom:#515151 solid 1px;
}

#footer {
background: #e1e1e1; /* Old browsers */}

#tree { border-right: 1px solid #b4b4b4; border-bottom:1px solid #b4b4b4; background:#dee4ea; border-top:#515151 solid 1px; }
#main { border-bottom:1px solid #b4b4b4; border-top:#515151 solid 1px; }


span.expand {
    background: url("../images/toggle-small.png") no-repeat center center;
    text-indent: -9999px;
}
li.collapsed span.expand {
    background: url("../images/toggle-small-expand.png") no-repeat center center;
}
span.folder {
background: url("../images/folder-horizontal.png") no-repeat 1px 1px transparent;
padding-left: 26px;
}
li.noSubfolder span.folder {
margin-left: 16px;
}
span.folder:hover { border: 1px solid #3875d7}

#main .thumb:hover { border:1px solid #3875d7; }
#main .thumb.selected, #main tr.selected td { background: #3875d7; color:#FFFFFF; }

/* TODO ikonky pro typy souboru, ikonky jako data uri */
#main .thumb-dir {background: url("../images/folder-horizontal.png") no-repeat center center transparent; }
#main .thumb { /* TODO obecny soubor */ }
#main .thumb-pdf { }
#main .thumb-zip { }
#main .thumb-xls { }
#main .thumb-doc { }

#main table {border-collapse:collapse; border-spacing:0; border-top:#d4d4d4 solid 1px;}
#main th, #main td { border-bottom: 1px solid #D6E5F5; }
#main tr:hover td { background:#d4d4d4;}

#main td.icon {
width: 16px;
background: url("../images/blank-file.png") no-repeat center center transparent;
}
#main td.icon-dir { background: url("../images/folder-horizontal.png") no-repeat center center transparent; }


#ajaxIndicator {
width:64px;height:64px;
background: url("../images/loading.gif");
text-indent: -9999px;
}

.panel { background: url("../images/bgr-panel.png"); }
.panel .dialog { background:white; border:#535353 solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;}



/* The MIT License */
#dropzone,
#dropzone *,
#dropzone-previews,
#dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
}
#dropzone.dz-clickable {
  cursor: pointer;
}
#dropzone.dz-clickable .dz-message,
#dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}
#dropzone.dz-clickable * {
  cursor: default;
}
#dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#dropzone.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
#dropzone.dz-started .dz-message {
  display: none;
}
#dropzone .dz-preview,
#dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
#dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
#dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
#dropzone .dz-preview .dz-details,
#dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}
#dropzone .dz-preview .dz-details .dz-filename,
#dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
#dropzone .dz-preview .dz-details img,
#dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
#dropzone .dz-preview .dz-details .dz-size,
#dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}
#dropzone .dz-preview.dz-error .dz-error-mark,
#dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
#dropzone .dz-preview.dz-success .dz-success-mark,
#dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
#dropzone .dz-preview:hover .dz-details img,
#dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
#dropzone .dz-preview .dz-success-mark,
#dropzone-previews .dz-preview .dz-success-mark,
#dropzone .dz-preview .dz-error-mark,
#dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
#dropzone .dz-preview .dz-success-mark,
#dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
#dropzone .dz-preview .dz-error-mark,
#dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
#dropzone .dz-preview .dz-progress,
#dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
#dropzone .dz-preview .dz-progress .dz-upload,
#dropzone-previews .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
#dropzone .dz-preview.dz-processing .dz-progress,
#dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
#dropzone .dz-preview .dz-error-message,
#dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
#dropzone .dz-preview:hover.dz-error .dz-error-message,
#dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
#dropzone {
  border: 1px solid rgba(0,0,0,0.03);
  min-height: 250px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
}
#dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #dropzone .dz-default.dz-message {
background-image: url("../images/spritemap@2x.png");
-webkit-background-size: 428px 406px;
-moz-background-size: 428px 406px;
background-size: 428px 406px;
  }
}
#dropzone .dz-default.dz-message span {
  display: none;
}
#dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}
#dropzone.dz-drag-hover .dz-message {
  opacity: 0.15;
  filter: alpha(opacity=15);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
}
#dropzone.dz-started .dz-message {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#dropzone .dz-preview,
#dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  font-size: 14px;
}
#dropzone .dz-preview .dz-details img,
#dropzone-previews .dz-preview .dz-details img {
  width: 100px;
  height: 100px;
}
#dropzone .dz-preview.dz-image-preview:hover .dz-details img,
#dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  filter: alpha(opacity=10);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}
#dropzone .dz-preview.dz-success .dz-success-mark,
#dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#dropzone .dz-preview.dz-error .dz-error-mark,
#dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#dropzone .dz-preview.dz-error .dz-progress .dz-upload,
#dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
#dropzone .dz-preview .dz-error-mark,
#dropzone-previews .dz-preview .dz-error-mark,
#dropzone .dz-preview .dz-success-mark,
#dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #dropzone .dz-preview .dz-error-mark,
  #dropzone-previews .dz-preview .dz-error-mark,
  #dropzone .dz-preview .dz-success-mark,
  #dropzone-previews .dz-preview .dz-success-mark {
background-image: url("../images/spritemap@2x.png");
-webkit-background-size: 428px 406px;
-moz-background-size: 428px 406px;
background-size: 428px 406px;
  }
}
#dropzone .dz-preview .dz-error-mark span,
#dropzone-previews .dz-preview .dz-error-mark span,
#dropzone .dz-preview .dz-success-mark span,
#dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}
#dropzone .dz-preview .dz-error-mark,
#dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}
#dropzone .dz-preview .dz-success-mark,
#dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}
#dropzone .dz-preview .dz-progress .dz-upload,
#dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../images/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #dropzone .dz-preview .dz-progress .dz-upload,
  #dropzone-previews .dz-preview .dz-progress .dz-upload {
background-image: url("../images/spritemap@2x.png");
-webkit-background-size: 428px 406px;
-moz-background-size: 428px 406px;
background-size: 428px 406px;
  }
}
#dropzone .dz-preview.dz-success .dz-progress,
#dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
#dropzone .dz-preview .dz-error-message,
#dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#dropzone .dz-preview:hover.dz-error .dz-error-message,
#dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@-moz-keyframes loading {
  0% {
background-position: 0 -400px;
  }

  100% {
background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  0% {
background-position: 0 -400px;
  }

  100% {
background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  0% {
background-position: 0 -400px;
  }

  100% {
background-position: -7px -400px;
  }
}
@-ms-keyframes loading {
  0% {
background-position: 0 -400px;
  }

  100% {
background-position: -7px -400px;
  }
}
@keyframes loading {
  0% {
background-position: 0 -400px;
  }

  100% {
background-position: -7px -400px;
  }
}


/* Classic Windows Theme (default) */
/* =============================== */
.context-menu-theme-default {
border:2px outset white;
background-color:#D4D0C8;
}
.context-menu-theme-default .context-menu-item {
text-align:left;
cursor:pointer;
padding:4px 28px 4px 16px;
color:black;
font-family:Tahoma,Arial;
font-size:11px;
}
.context-menu-theme-default .context-menu-separator {
margin:4px 2px;
font-size:0px;
border-top:1px solid #808080;
border-bottom:1px solid white;
}
.context-menu-theme-default .context-menu-item-disabled {
color:#808080;
}
.context-menu-theme-default .context-menu-item .context-menu-item-inner {
background:none no-repeat fixed 999px 999px; /* Make sure icons don't appear */
}
.context-menu-theme-default .context-menu-item-hover {
background-color:#0A246A;
color:white;
}
.context-menu-theme-default .context-menu-item-disabled-hover {
background-color:#0A246A;
}

/* Windows XP Theme */
/* ================ */
.context-menu-theme-xp {
border:1px solid #666;
padding:1px;
background:#F9F8F7 url(cmenu-xp-bg.gif) repeat-y top left;
}
.context-menu-theme-xp .context-menu-separator {
margin:4px 2px;
font-size:0px;
border-top:1px solid #808080;
border-bottom:1px solid white;
}
.context-menu-theme-xp .context-menu-item {
text-align:left;
color:black;
font-family:arial;
font-size:11px;
cursor:pointer;
}
.context-menu-theme-xp .context-menu-item .context-menu-item-inner {
background:none no-repeat 2px center;
padding:4px 10px 4px 30px;
}
.context-menu-theme-xp .context-menu-item-hover .context-menu-item-inner {
background:#B6BDD2 none no-repeat 2px center;
padding:3px 9px 3px 29px;
border:1px solid #0A246A;
}

/* Windows Vista Theme */
/* =================== */
.context-menu-theme-vista {
background:#FAFAFA url(cmenu-vista-bg.gif) repeat-y left top;
border:1px solid #868686;
}
.context-menu-theme-vista .context-menu-item {
text-align:left;
cursor:pointer;
color:black;
font-family:Tahoma,Arial;
font-size:11px;
}
.context-menu-theme-vista .context-menu-separator {
margin:0px 0px 0px 32px;
font-size:0px;
border-top:1px solid #C5C5C5;
border-bottom:1px solid #F5F5F5;
}
.context-menu-theme-vista .context-menu-item-hover {
background:transparent url(cmenu-vista-menu-item-hover.gif) repeat-x left center;
border:1px solid #D7D0B3;
}
.context-menu-theme-vista .context-menu-item .context-menu-item-inner {
padding:4px 16px 4px 35px;
margin-left:1px;
background-color:none;
background-repeat:no-repeat;
background-position:3px center;
background-image:none;
}
.context-menu-theme-vista .context-menu-item-hover .context-menu-item-inner {
padding:3px 15px 3px 35px;
margin-left:0px;
}
.context-menu-theme-vista .context-menu-item-disabled {
color:#A7A7A7;
}

/* OSX Theme */
/* ========= */
.context-menu-theme-osx {
background-color:white;
opacity: .93;
filter: alpha(opacity=93);
zoom:1.0;
border:1px solid #b2b2b2;
}
.context-menu-theme-osx .context-menu-item {
text-align:left;
cursor:pointer;
color:black;
font-family:Lucida Grande,Arial;
font-weight:700;
font-size:12px;
opacity: 1.0;
filter: alpha(opacity=100);
z-index:1;
}
.context-menu-theme-osx .context-menu-separator {
margin:5px 1px 4px 1px;
font-size:0px;
border-top:1px solid #e4e4e4;
}
.context-menu-theme-osx .context-menu-item-hover {
background-color:#1C44F2;
color:white;
}
.context-menu-theme-osx .context-menu-item .context-menu-item-inner {
padding:2px 10px 2px 22px;
background-color:none;
background-repeat:no-repeat;
background-position:4px center;
background-image:none;
}
.context-menu-theme-osx .context-menu-item-disabled {
color:#939393;
}

/* Linux Human Theme */
/* ================= */
.context-menu-theme-human {
background:#F9F5F2;
border:1px solid #963;
}
.context-menu-theme-human .context-menu-item {
text-align:left;
cursor:pointer;
color:black;
font-family:Helvetica,DejaVu Sans,Arial;
font-size:12px;
line-height:20px;
height:28px;
border:1px solid #F9F5F2;
border-left:0;
border-right:0;
}
.context-menu-theme-human .context-menu-separator {
margin:0px 0px 0px 32px;
font-size:0px;
border-top:1px solid #C5C5C5;
border-bottom:1px solid #F5F5F5;
}
.context-menu-theme-human .context-menu-item-hover {
background:transparent url(cmenu-human-menu-item-hover.gif) repeat-x left center;
border-color:#963;
}
.context-menu-theme-human .context-menu-item .context-menu-item-inner {
padding:4px 16px 4px 35px;
margin-left:0px;
background-color:none;
background-repeat:no-repeat;
background-position:3px center;
background-image:none;
}
.context-menu-theme-human .context-menu-item-hover .context-menu-item-inner {
}
.context-menu-theme-human .context-menu-item-disabled {
color:#A7A7A7;
}

/* Gloss Theme */
/* =========== */
.context-menu-theme-gloss {
background:#f4f4f4 url(cmenu-gloss-bg.gif) repeat-y left center;
border:1px solid #f4f4f4;
padding:1px;
padding-right:0;
}
.context-menu-theme-gloss .context-menu-item {
text-align:left;
cursor:pointer;
color:black;
font-family:Helvetica,DejaVu Sans,Arial;
font-size:12px;
line-height:20px;
height:27px;
border:1px solid transparent;
}
.context-menu-theme-gloss .context-menu-separator {
margin:0px 0px 0px 32px;
font-size:0px;
border-top:1px solid #C5C5C5;
border-bottom:1px solid #F5F5F5;
}
.context-menu-theme-gloss .context-menu-item-hover {
background:transparent url(cmenu-gloss-menu-item-hover.gif) repeat-x left center;
color:#fff;
border-color:#000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.context-menu-theme-gloss .context-menu-item .context-menu-item-inner {
padding:4px 16px 4px 35px;
margin-left:0px;
background-color:none;
background-repeat:no-repeat;
background-position:3px center;
background-image:none;
}
.context-menu-theme-gloss .context-menu-item-hover .context-menu-item-inner {
}
.context-menu-theme-gloss .context-menu-item-disabled {
color:#A7A7A7;
}

.context-menu-theme-gloss-cyan .context-menu-item-hover {
background-image:url(cmenu-gloss-cyan-menu-item-hover.gif);
border-color:#00c;
}

.context-menu-theme-gloss-semitransparent .context-menu-item-hover {
background-image:url(cmenu-item-gloss-semitransparent-menu-item-hover.png);
border-color:#00c;
background-color:#30f;
}
