/*! normalize.css v2.1.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio, canvas, video { display: inline-block;}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {display: none; height: 0;}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {display: none;}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE, and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling user zoom.
 */

html {background: #fff; /* 1 */
    color: #000; /* 2 */
    font-family: sans-serif; /* 3 */
    -ms-text-size-adjust: 100%; /* 4 */
    -webkit-text-size-adjust: 100%; /* 4 */
}

/**
 * Remove default margin.
 */

body {margin: 0;}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {outline: thin dotted;}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active, a:hover {outline: 0;}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 { font-size: 2em; margin: 0.67em 0;}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {border-bottom: 1px dotted;}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b, strong {font-weight: bold;}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {font-style: italic;}

/**
 * Address differences between Firefox and other browsers.
 */

hr {-moz-box-sizing: content-box; box-sizing: content-box; height: 0;}

/**
 * Address styling not present in IE 8/9.
 */

mark {background: #ff0; color: #000;}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code, kbd, pre, samp {font-family: monospace, serif; font-size: 1em;}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {white-space: pre-wrap;}

/**
 * Set consistent quote types.
 */

q {quotes: "\201C" "\201D" "\2018" "\2019";}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {font-size: 80%;}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}

sup {top: -0.5em;}

sub {bottom: -0.25em;}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {border: 0;}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {overflow: hidden;}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {margin: 0;}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {border: 0; /* 1 */  padding: 0; /* 2 */}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button, input, select, textarea {font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button, input { line-height: normal;}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button, select {text-transform: none;}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type `input` and others.
 */

button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {cursor: default;}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */  padding: 0; /* 2 */}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).
 */

input[type="search"] {-webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */  box-sizing: content-box;}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
 */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0;}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {overflow: auto; /* 1 */ vertical-align: top; /* 2 */}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {border-collapse: collapse; border-spacing: 0; font-size:13px;}

/* basic typography -------------------------------------------------------------- */

/* Default font settings. The font-size percentage is of 16px. (0.75 * 16px ~ 12px) */
body { font-size: 13px; color: #222428; background: #ffffff; font-family:Arial, Helvetica, sans-serif;}

/* Headings -------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { color: #222428;}
h1, h2 { font-size: 18px; line-height: 18px; text-shadow: 0 0 1px rgba(11, 96, 0, 0.5); }
h3 { font-size: 18px; line-height: 20px; margin-bottom: 3px; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

/* Text elements -------------------------------------------------------------- */
p { margin: 0 0 1.5em; }
p img.left { float: left; margin: 0 8px 8px 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

/*a:visited { color: #30334A; } */
a { color: #e1b901; text-decoration: underline; }
a:focus, a:hover { color: #ca9300; }

hr { color: #bebebe; background-color: #bebebe; border:none; height: 1px; margin: 6px 0 6px 0; clear:both;}

blockquote { margin: 1.5em; color: #666; font-style: italic; }
strong { font-weight: bold; }
em,dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 1.22; font-size: xx-small;}
sup {vertical-align: top;}
suB {vertical-align: bottom;}

abbr, acronym { border-bottom: 1px dotted #666; }
address { margin: 0 0 1.5em; font-style: italic; }
del { color:#666; }
pre { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; color:#d0a600; }

/* Lists -------------------------------------------------------------- */
li ul, li ol { margin:0 1.5em; }
ul, ol { margin: 0 1.5em 1.5em 1.5em; }

ul { list-style-type: disc; }
ol { list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em;}

/* Tables -------------------------------------------------------------- */
table { margin: 1.4em 0; width:100%; }
th { font-weight: bold; }
thead th { background: #acaeb9;}
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eee; color:#000; }

/* Misc classes -------------------------------------------------------------- */
.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide, .hidden { display: none; }

.quiet { color: #666; }
.loud { color: #000; }
.highlight { background:#f0c600; color:#FFF; }
.added { background:#060; color: #fff; }
.removed { background:#900; color: #fff; }

.first { margin-left:0; padding-left:0; }
.last { margin-right:0; padding-right:0; }
.top { margin-top:0; padding-top:0; }
.bottom { margin-bottom:0; padding-bottom:0; }

/* Pre-seting Web site -------------------------------------------------------------- */

@media screen, projection {
h1, h2{font-weight:normal; background:url(../images/h-strike.gif) repeat-x; background-position:center 21px; padding-bottom:21px; margin:20px 0 0; text-align:center; position:relative;}
h3, h4, h5 {font-weight:normal; border-bottom:#cecece solid 1px; text-align:center; position:relative;}
p { margin:0; padding:6px 0; line-height:1.2; font-weight:normal;}
select, input, textarea {background: #F1F1F7; border:1px solid #D3D4DC; color:#303840;}
.cleaner { clear:both; }

/* online technology web -------------------------------------------------------------- */

::-moz-selection{background:#000000; color:white;}
::-webkit-selection{background:#000000; color:white;}

.wrapper {width:993px; margin: 0 auto; position:relative;}

#header-wraper { height:200px; background:#eaeaeb url(../images/bg_header-wraper.gif) repeat-y center;}
#header { width:993px; height: 200px; margin:0 auto; background:url(../images/bg_header.jpg) no-repeat top center; position:relative;}
a#logo { display:block; width: 154px; height: 82px; position: absolute; top:6px; left:0px; text-decoration:none; }
#slogan { position:absolute; bottom:19px; left:0px; font-size:18px; color:#919399;}
#lang { position:absolute; top:104px; left:0px; font-size:12px;}
#lang a {color:#FFF; font-size:12px; font-weight: normal; line-height:20px; height:20px; padding:3px 10px; text-decoration:none; position:relative; -moz-border-radius:10px; -webkit-border-radius: 10px; border-radius:10px;  background:#3e3d3c; cursor:pointer;}
#lang a:hover {color:#3e3d3c; background:#f8bd35;}

.icon3D { width:44px; height:44px; position:absolute; right: 10px; bottom: 65px; z-index: 33;}

#kosikTop { position:absolute; width:188px; height:178px; top:10px; right:0px; border:#494b4e solid 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#kosikTop h3 { color:#adafb2; border:none;}
#kosikTop h4 { color:#f4c900; border:none; font-size:30px; margin:0px; padding:0px;}
#kosikTop h4 span {font-size:12px;}
#kosikTop p { color:#ffffff; font-size:12px; text-align:center;}
#kosikTop p strong { color:#f0cb00;}
#kosikTop p a.buton { padding:3px 40px;}

#menu {width:993px; height:33px; font-size:12px; text-align:center; margin:10px auto; position:relative;
-moz-box-shadow: inset 0 0 1px #ffffff; -webkit-box-shadow: inset 0 0 1px #ffffff; box-shadow: inset 0 0 1px #ffffff;
border:#24262a solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#FFFFFF;
background-image: -ms-linear-gradient( top, rgba( 37, 39, 43, 1 ), rgba( 54, 57, 62, 1 ) );
background-image: -o-linear-gradient( top, rgba( 37, 39, 43, 1 ), rgba( 54, 57, 62, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25272b', endColorstr='#36393e'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#25272b), to(#36393e)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #25272b, #36393e); /* for firefox 3.6+  */}
#menu ul { margin:0;}
#menu li {display:inline; list-style-type:none;}
#menu a {text-decoration:none; color:#eaeaeb; display:block; height:27px; padding:2px 15px; line-height:27px;}
#menu li a {display:inline-block; white-space:nowrap;}
#menu a:hover { border-top:#b6b7b7 dotted 1px; border-bottom:#b6b7b7 dotted 1px; color:#ffffff;}
#menu li.selected a {background:#e2ba01; color:#202020; border-top:#f2e29b solid 1px; border-bottom:#e2ba01 solid 1px;}

#menu ul li ul { position:absolute; top:33px; left:0px; width:993px; height:34px; z-index:100; padding:0;
-moz-box-shadow: inset 0 0 1px #ffffff; -webkit-box-shadow: inset 0 0 1px #ffffff; box-shadow: inset 0 0 1px #ffffff;
border:#d0a600 solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#FFFFFF;
background-image: -ms-linear-gradient( top, rgba( 226, 186, 1, 1 ), rgba( 243, 200, 0, 1 ) );
background-image: -o-linear-gradient( top, rgba( 226, 186, 1, 1 ), rgba( 243, 200, 0, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2ba01', endColorstr='#f3c800'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#e2ba01), to(#f3c800)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #e2ba01, #f3c800); /* for firefox 3.6+  */
display:none;
}
#menu ul li.selected ul { display: block; }

#menu ul li ul li a {color:#25272b;border-top:#e2ba01 dotted 1px; border-bottom:#e2ba01 dotted 1px;}
#menu ul li ul li a:hover, #menu ul li ul li a.selected {color:#ffffff; border-top:#25272b dotted 1px; border-bottom:#25272b dotted 1px;}

#sliderHolder { width:993px; height:239px; margin:0 auto; background:#efeff0; border:#e6e6e7 solid 1px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; position:relative;}
#sliderHolder.minified { height: 50px; }
#banHider {border:#e6e6e7 solid 1px; background:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; position:relative; color:#b9b9b9; padding:2px 8px; text-align:center; position:absolute; bottom:-10px; left:450px; font-size:12px; cursor:pointer; z-index:94;}
#banHider span { position:absolute; top:-15px; left:40px; display:block; width:22px; height:13px; background:url(../images/web-icons.png) no-repeat top center;}

#sliderHolder ul li a { padding-left:0px; margin-left:0px;}

#sliderHolderMin { width:993px; height:26px; margin:0 auto; background:#efeff0; border:#e6e6e7 solid 1px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; position:relative;}
#banShow {border:#e6e6e7 solid 1px; background:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; position:relative; color:#b9b9b9; padding:2px 8px; text-align:center; position:absolute; bottom:-10px; left:450px; font-size:12px; cursor:pointer; z-index:94;}
#banShow span { position:absolute; top:-15px; left:40px; display:block; width:22px; height:13px; background:url(../images/web-icons.png) no-repeat; background-position:0px -67px;}

span.buton, a.buton, input.buton, button.buton {color:#dcdcdc; font-size:12px; font-weight: normal; line-height:21px; height:21px; padding:3px 10px; text-decoration:none; position:relative; cursor:pointer;
-moz-box-shadow: inset 0 0 1px #000000; -webkit-box-shadow: inset 0 0 1px #000000; box-shadow: inset 0 0 1px #000000;
border:#777777 solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#FFFFFF;
background-image: -ms-linear-gradient( top, rgba( 95, 95, 95, 1 ), rgba( 75, 75, 75, 1 ) );
background-image: -o-linear-gradient( top, rgba( 95, 95, 95, 1 ), rgba( 75, 75, 75, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f5f5f', endColorstr='#4b4b4b'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#4b4b4b)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #5f5f5f, #4b4b4b); /* for firefox 3.6+  */}

span:hover.buton, a:hover.buton, input:hover.buton, button:hover.buton {border:#f9ce00 solid 1px; }

input.buton, button.buton {padding:0 4px; margin:0 4px; height:24px;}

#siderLeft { float:left; padding:0; width:240px;}
.bannerHolder {margin:5px auto; text-align:center; clear:both;}
.comentItem { margin:0 0 5px 0; position: relative;}
.comentItem p { padding:0;}
.comentInfo { background: #f2f2f2; padding:3px;-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;}
.comentInfo h4 { color:#014d03; font-size:14px; border:none; margin:0; font-weight:bold;}
.viceInfo{ display:block; width:23px; height:23px; background: url(../images/ikony2-mystrips.png) no-repeat; background-position: -54px -1px; position:absolute; top:42px; right:-10px; }
.viceInfo strong {display:none;}

#serchBox { border:#e6e6e7 solid 1px; background:#efeff0; margin:12px 0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:5px 10px;}
#serchBox input[type=text] { border:#e6e6e7 solid 1px; background:#ffffff; color:#979797;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:155px; height:21px; text-align:center;}
#serchBox input:hover.buton {border:#000 solid 1px; }

#kategorie { width:240px; margin-bottom:10px;}
#kategorie ul {list-style:none; margin:0; padding:0; font-size:14px;}
#kategorie li { margin:0 0 1px 0;}
#kategorie ul li a {text-decoration:none;  color:#fff; display:block; padding:0 0 0 12px; line-height:24px; background: #2f3136 url(../images/bg_menu_kategory.gif) no-repeat;}
#kategorie ul li a:hover{ background-position:0 -50px; color:#222427;}
#kategorie ul li.selected a { background-position:0 -50px; color:#222427;}

#kategorie ul li ul li a, #kategorie ul li.selected ul li a {padding:0 0 0 28px; color:#222427; line-height:24px; background-position:0 -25px;}
#kategorie ul li ul li a:hover, #kategorie ul li ul li.selected a {background-position:0 -50px; color:#222427;}

#boxUserInfo { position: relative; /* kvuli overlay */}

#boxCustomer {margin-bottom:10px; text-align:center; padding:5px; color:#e2e2e6;
-moz-box-shadow: inset 0 0 1px #ffffff; -webkit-box-shadow: inset 0 0 1px #ffffff; box-shadow: inset 0 0 1px #ffffff;
border:#24262a solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#FFFFFF;
background-image: -ms-linear-gradient( top, rgba( 37, 39, 43, 1 ), rgba( 54, 57, 62, 1 ) );
background-image: -o-linear-gradient( top, rgba( 37, 39, 43, 1 ), rgba( 54, 57, 62, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25272b', endColorstr='#36393e'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#25272b), to(#36393e)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #25272b, #36393e); /* for firefox 3.6+  */}
#boxCustomer input[type=email], #boxCustomer input[type=password] { border:#e6e6e7 solid 1px; background:#ffffff; color:#979797;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:190px; height:21px; text-align:center;}
#boxCustomer .buton { width:190px;}
#boxCustomer p span { color:#FFFFFF; font-size:18px;}

.banner{ padding-bottom:10px;}

.noveinfo { background:#E9FFF0; padding:40px; font-size:16px; text-align:center; color:#093;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin:10px;}

#obsah { position:relative; float:right; width: 741px;}

.breadcrumb { font-size:11px; margin-bottom:10px;}

#filtr { margin-bottom:10px; min-height:106px;
border:#e6e6e7 solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#f1f1f2;
background-image: -ms-linear-gradient( top, rgba( 241, 241, 241, 1 ), rgba( 249, 249, 249, 1 ) );
background-image: -o-linear-gradient( top, rgba( 241, 241, 241, 1 ), rgba( 249, 249, 249, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f2', endColorstr='#f9f9f9'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f2), to(#f9f9f9)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #f1f1f2, #f9f9f9); /* for firefox 3.6+  */}
.filterButon { background: url(../images/bg-filter-btn.png) no-repeat right; width:198px; height:106px; display:block; float:right; border:#d0a600 solid 1px; border-left: none; font-size:24px; color:#222428; -moz-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0;}
.filterButon:hover { color:#FFFFFF; text-shadow: 0 0 6px rgba(97, 77, 0, 0.9);}
#filtrFunkce { display:inline-block; width:520px; padding:10px;}
#filtr h6 { margin:0;}
.filterItemHolder img { height: 21px; width: 21px;}
.filterItemHolder label { padding-right:4px;}
.filterItemHolder input { height:21px; margin:1px;}
.filterItemHolder {display:inline-block; margin:2px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:#e6e6e7 solid 1px; padding:2px;}
.filterItemHolder:hover { border:#777777 solid 1px;}

.pagerHolder { height:21px; border:#e6e6e7 solid 1px; background:#f6f6f6; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:6px 10px; margin-bottom:10px; clear:both;}

.triz { float:right; height:21px; line-height:21px;}

.strankovani { height:21px; float:left; line-height:21px;}
.pagerHolder a { display:block; width:21px; height:21px; background:url(../images/iko-pager.png) no-repeat; background-position: 0 -42px; color:#222428; text-align:center; font-size:11px; float:left; margin:0 3px; padding:0; text-decoration:none;}
.pagerHolder a:hover, .strankovani a.selected{ background-position:-21px -42px;}
.pagerHolder a span { display:none;}
.pagerHolder a.prevprev { background:url(../images/iko-pager.png) no-repeat; background-position: 0 -84px;}
.pagerHolder a.nextnext { background:url(../images/iko-pager.png) no-repeat; background-position: -21px -84px;}
.pagerHolder a.prev { background:url(../images/iko-pager.png) no-repeat; background-position: 0 -63px;}
.pagerHolder a.next { background:url(../images/iko-pager.png) no-repeat; background-position: -21px -63px;}


.trizHloder {background:url(../images/iko-pager.png) no-repeat ; background-position: 0 -126px; width:37px; height:21px; display:inline-block;}
.trizHloder a, .trizHloder a:hover { margin:0; padding:0; background-position:40px 0;}
a.vzesesL,  a.vzesesR { display:block; text-decoration:none; float:left; width:16px; height:21px;}
.pagerHolder .triz .trizHloder a.vzesesR { float:right;}
a.vzesesL.selected { display:block; text-decoration:none; float:left; width:21px; height:21px; background:url(../images/iko-pager.png) no-repeat; background-position: 0 -21px;}
a.vzesesR.selected { display:block; text-decoration:none; float:right; width:21px; height:21px; background:url(../images/iko-pager.png) no-repeat; background-position: -16px 0;}


.listItem { width:238px; height:265px; margin:0 7px 20px 0; border:#e0e0e4 solid 1px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; overflow:hidden; float:left; position: relative; background:#ffffff url(../images/bg_price_listItem.gif) no-repeat bottom center;}
.listItem:hover {border:#f0c600 solid 1px;}
.listItem h5 { font-size:18px; color:#222428; background:url(../images/bg_name_listItem.png) no-repeat; background-position: center bottom; margin:0; padding:5px 0 45px; border:none; position:absolute; top:0; left:0;width:238px; z-index:4;}
.listitemImg { width:238px; height:178px; position:absolute; top:30px; left:0; z-index:3;}
.listItem a { text-decoration:none;}
a div.listItemInfo { position:absolute; top:-215px; left:0; width:218px; height:185px; background:url(../images/alfa-white-90-perc.png) repeat; padding:10px; text-align:center; display:none;}
/*a:hover div.listItemInfo { position:absolute; top:0px; left:0; z-index:7;}*/
.listItemInfo h6 { color:#f0c600; border:#f0c600 solid 2px; padding:10px; margin:10px 0 0 0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#fff;}
.frmAddToCart { border: none; position:absolute; bottom:0px; left:0px; padding:5px; width:226px; height:36px;}
.frmAddToCart input[type=text] { width:22px; height:20px; border:#777777 solid 1px;-moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; border-radius:5px 0 0 5px; background:#FFFFFF; text-align:center;}
.frmAddToCart button.buton {-moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; margin:0;}
.frmAddToCart div { float:right; margin:5px 0;}
.frmAddToCart p {line-height:30px; height:30px; padding:0; margin-top:2px; color:#f0c600; float:left;}
.priceListItem {font-size:27px; letter-spacing:-1px; }
.priceListItem span.currency {font-size:13px; letter-spacing:-1px; }

/* detail produktu */
#prodDetail, .boxHold {border:#e0e0e4 solid 1px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-bottom:10px; padding:10px;}
.thumb-2 { display:block; width:358px; height:268px; position:relative; float:left;}
.thumb-2 img { border:#e0e0e4 solid 1px;}
.thumb-2 img:hover { border:#c7c7cb solid 1px;}
.thumb-2 span { position:absolute; bottom:0; right:0; display:block; width:22px; height:22px; background:url(../images/web-icons.png) no-repeat; background-position:0 -43px;}
#discountPrice { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#090; color:#D2FFD7; border:#0C0 solid 1px; position:absolute; bottom: 45px; left:0px; padding:1px 10px;}
#discountPrice span, .listDiscountPrice span { color:#FFF; font-weight:bold;}
.listDiscountPrice { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#090; color:#D2FFD7; border:#0C0 solid 1px; position:absolute; bottom: 36px; left:1px; padding:1px; width:232px; z-index:9; text-align:center;}

#infoFloater { float:right; width:350px; min-height:270px; position:relative; padding: 0 0 48px 0;}
#infoFloater .frmAddToCart { width:340px; background: #24262a; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#infoFloater .frmAddToCart p em { color:#999999; font-style:normal;}

p.stockInfo { color:#093; font-weight:bold; text-align:center; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:#093 1px solid;}
p.stockInfo:empty { border:none; }

.icons img { max-height: 44px; max-width: 44px; display:inline-block; padding-right:2px; }


#crossSell, #variants { margin: 0; padding: 0 }

.doporuc {background: #24262a; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; font-size:18px; color:#ffffff; text-align:center; margin-bottom:10px;}
.doporuc span a { display:block; width: 100%; height: 100%;}
.prevCross { float:left; display:block; width:21px; height:21px; background:url(../images/iko-pager.png) no-repeat; background-position: 0 -105px; margin:0 10px;}
.nextCross { float:right; display:block; width:21px; height:21px; background:url(../images/iko-pager.png) no-repeat; background-position: -21px -105px; margin:0 10px;}

#footer { width:100%; margin:10px 0 0; clear:both; position:relative;  background:#f9f9f9; border-top:#f0eded solid 1px;}
#footer .wrapper { padding:20px 0 20px 0; background:#f9f9f9;}
#footer h3 {padding:0; margin:0 0 10px;}
#footer .wrapper ul { margin:0; padding:0;}
#footer .wrapper ul li { font-size:11px; list-style-type:none; color:#a3a3a3;}
#footer .wrapper ul li a {color:#b5b5b5;}
#footer .wrapper ul li a:hover {color:#5f5f5f;}
.boxFooterL { width:235px; float:left; margin-right:10px;}
.boxFooterR { width:243px; float:right; text-align: right;}
#callNow { width:243px; height:132px; float:left; text-align: center; background:#f2f2f2 url(../images/footer-logo.jpg) no-repeat top center; border:#e9e9e9 solid 1px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
#callNow p { padding:80px 0 0;}
#callNow p strong { font-size:18px;}

/* form objednavka */
#frmOrder .overlay {background: white;}
#frmOrder .overlay.confirm:before { content: none; }
#frmOrder .overlay.order-ok:before { content: none; }

.overlay {position: absolute; left:0; top:0; width: 100%; height: 100%; text-align:center;}
.overlay:before { content: ''; /*      display: inline-block;*/ height: 100%; vertical-align: middle; margin-right: -0.25em; /* Adjusts for spacing */}

.overlay .vert-center { display: inline-block; vertical-align: middle; /* width: 300px;*/ padding: 10px 15px;}
.overlay .vert-center .close { border:#FFF solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; padding:2px 16px; cursor:pointer;}

#frmOrder .overlay.loading, .overlay.loading { background: url(../images/ajax-loader.gif) repeat;}
.overlay.warning {-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color: #910000; border: 1px solid #FF0000;}

.overlay.info { background:lightyellow; color:red;}

.cart-animated {background: #FFF url(../images/box_closing.gif) center center no-repeat;-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; border:1px solid #FED100;}

#boxUserInfo div.overlay.warning { color:#ffffff;}
.overlay.loading { background: url(../images/ajax-loader.gif) repeat;}

.stepBYstep, .stepBYstep2, .stepBYstep3, .stepBYstep4 { width:723px; height:43px; background:url(../images/stepBYstep.jpg) no-repeat top;}
.stepBYstep2 { background-position: 0px -43px;}
.stepBYstep3 { background-position: 0px -86px;}
.stepBYstep4 { background-position: 0px -129px;}

legend {border: #e6e6e7 solid 1px; padding: 1px 4px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#666;}
fieldset {border: 1px solid #e6e6e7; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin: 2px 0 5px; padding: 10px;}
#fldNote { width:700px;}

#prodDetPriceCZ, .subtotal {background: #24262A; border-radius: 5px 5px 5px 5px; color:#999999; text-align:center; font-size: 12px; line-height: 32px; margin: 0 0 10px;}
#prodDetPriceCZ strong, .subtotal strong {font-size: 22px; letter-spacing: -1px; font-weight:normal;}
#prodDetPriceCZDPH, .subtotalVAT {background: #24262A; border-radius: 5px 5px 5px 5px; color:#F0C600; text-align:center; font-size: 12px;line-height: 32px;  }
#prodDetPriceCZDPH strong, .subtotalVAT strong {font-size: 30px; letter-spacing: -1px;  font-weight:normal;}

.ordersPrices { text-align:center;}
.ordersPrices strong, fieldset.ordersPrices strong { font-size:22px; color:#FFF; font-weight:normal;}

fieldset.ordersPrices {background: #25272B; color: #EAC101; padding: 0.625em; border:#25272B;}

.orderedItems { padding:22px 10px 10px; background: #FFF url(../images/web-icons.png) no-repeat center -87px;}

 /* tabs */
dl.ergoTabs { position:relative; padding:0; overflow:auto; margin:0;}
dl.ergoTabs dt { cursor:pointer; float:left; height:25px; left:5px; line-height:25px; padding:0 1em; position:relative; z-index:2;
font-weight:normal; border:#e0e0e4 solid 1px; background:#ffffff;
-moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}

dl.ergoTabs dt.selected { font-weight: bold; background:#fbfbfb; border:#e0e0e4 solid 1px; border-bottom:#fbfbfb solid 1px;
-moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
dl.ergoTabs dt:hover { background:#fed100; border:#d0a600 solid 1px;}
dl.ergoTabs dd { float:right; margin:26px 0 0 -100%; width:100%; z-index:1; display:none; }
dl.ergoTabs dd.selected { display:block; }
dl.ergoTabs dd div { background:#fbfbfb; padding:15px; border:#e0e0e4 solid 1px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
dd table.edit {margin:0 auto; }
dd table.edit td { padding:0; }
dl.ergoTabs dt.hilighter { border-left:#fed100 solid 1px; border-top:#fed100 solid 1px; border-right:#fed100 solid 1px;}

/* tabulky  -------------------------------------------------------------- */

table.clr {
border-top: #24262a 1px solid;
border-bottom: #24262a 1px solid; color:#000;
width:100%; margin: 10px auto;
}
table.clr td {
background-color:#f5f4f4; padding: 0.3em;
border-bottom: #e3e3e3 1px solid; vertical-align:middle;
}
table.clr th {
background-color:#36383d; text-align:center;
color:#fff; text-transform: uppercase; font-weight:bold;
border-bottom: #24262a 1px solid; vertical-align:middle;
}
table.clr p {
background-color: #25272b; color: #eac101;
padding:0.625em;
}

/* ostatni -------------------------------------------------------------- */

.picRight { display: block; float:right; background:#e0e2e7; border: #9b9da2 solid 1px; margin:0 0 10px 10px; padding:5px;}
.picRight img {border: #9b9da2 solid 1px;}

/* Sample obsahu -------------------------------------------------------------- */
blocquote, q { font-style:italic; }
p.cite { text-align:right; font-style:italic;}

pre code {
border:1px dotted #5f5f5f;
background-color: rgba(0,0,0,0.1);
display:block;
max-height:15em;
overflow:auto;
padding:0.5em;
}

span.imgBox {
display:block;
width:200px;
float:right;
margin:0.5em 0 0.5em 0.5em;
border:1px solid #CCCCCC;
background:#333333;
}
span.imgBox span { padding: 0.5em; display:block;}

th, td {
/*border:1px solid gray;*/
padding:3px 0.5em;
}

form { margin:0; padding:0; border:none;}

p.error {
padding:0.5em; background-color:#910000;
border: 1px solid #ff0000;
color:#FFFFFF; font-size:11px;
text-align:center;
margin:0; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
}

p.error:empty {background: none repeat scroll 0 0 transparent; border: medium none;}

p.important {
padding:0.5em; text-align:center; color:#624005; font-size:11px;
background-color:#fec42b; border:1px solid #cb8100; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
}

p.warning, p.msieWarning {
padding:0.5em;
background-color:#910000;
border: 1px solid #ff0000;
color:#FFFFFF; font-size:11px;
text-align:center;
margin:0; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
z-index:100; position:absolute; top: 30px;
}
p.warning {top: 0px;}
p.msieWarning a { color:#FF0000; }
p.msieWarning a:hover { color:#5CFF1D; }

.msgOK {
background-color: #009900;
border-bottom:1px solid #00CC00;
border-top:1px solid #00CC00;
color:#a5ffa5; font-size:11px;
padding:5px 0 5px 0; margin-bottom:10px; text-align:center;
-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
}
.msgOK strong { color:#FFF;}

#errMsg, p.warning, .msg {
background-color:#9f0000;
border-bottom:1px solid #f90000;
border-top:1px solid #f90000;
color:#FFF;
padding:5px 0 5px 0;
margin-bottom:10px;
text-align:center;
-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
}
.msg, .msgOK { margin:0;}
#errMsg:empty, .msg:empty, .msgOK:empty { display:none; }
#errMsg.empty { display:none; } /*kvuli msie samostatny selector */
.msg.empty, .msgOK.empty { display:none; } /*kvuli msie samostatny selector */

.greenTxt {color:#009900;}

input.error { border:#CC0000 solid 1px;}
label.error { background-color:#CC0000; color:#FFF; font-size:11px; border:#8f000a solid 1px; padding:2px 6px; display: block; margin:5px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; text-align:center;}

a.hover:hover { font-style:italic; }
a.active:active { font-weight:bold }

a.pdf, a[href$=".pdf"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -64px;
margin-left:3px; padding-left:20px;
}

/*a.image, a[href$=".jpg"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -16px;
margin-left:3px; padding-left:20px;
}*/
a.word, a[href$=".doc"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -112px;
margin-left:3px; padding-left:20px;
}
a.excel, a[href$=".xls"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -48px;
margin-left:3px; padding-left:20px;
}
a.compress, a[href$=".zip"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px 0px;
margin-left:3px; padding-left:20px;
}
a.text, a[href$=".txt"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -96px;
margin-left:3px; padding-left:20px;
}
a.email, a[href^="mailto:"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -32px;
margin-left:3px; padding-left:20px;
}
a.ppt, a[href$=".ppt"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -80px;
margin-left:3px; padding-left:20px;
}
a.bin, a[href$=".bin"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -160px;
margin-left:3px; padding-left:20px;
}
a.rar, a[href$=".rar"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -144px;
margin-left:3px; padding-left:20px;
}
a.exe, a[href$=".exe"] {
background:transparent url(../images/ikony.png) no-repeat; background-position: 0px -128px;
margin-left:3px; padding-left:20px;
}

table.pagination {
background: none repeat scroll 0 0 #efefef;
border-bottom: 1px solid #000;
border-top: 1px solid #000;
color: #000;
empty-cells: hide;
margin: 10px 0;
text-align: center;
width: 100%;
}
table.pagination td strong {color: #000;}

ul.gallery, ul.gallery2 { width:695px;  list-style-type:none; margin:0; padding:0; overflow: hidden; }
ul.gallery li { text-align:center; width:166px; height:125px; position:relative;} /*width:166px; height:125px;*/
ul.gallery li, ul.gallery2 li {float:left; margin:0 5px 10px 0; background:#efeff0; border:#e0e0e4 solid 1px;}
ul.gallery li:hover {border:#c7c7cb solid 1px;}
ul.gallery2 li img {background:#fbfbfb; border:#e0e0e4 solid 1px;}

ul.gallery li p { background: #5f5f5f; font-size:11px; color:#fff; width:164px; height:13px; line-height:13px; overflow:hidden; margin:0; padding:0; position:absolute; bottom: 10px; left:1px;}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; background:#000000;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background: url(../images/colorbox/transp_IE-50procent.png) repeat;}
#colorbox{}
    #cboxContent{margin-top:20px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/colorbox/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px; border:none;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/colorbox/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px; border:none;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(../images/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(../images/colorbox/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px; border:none;}
        #cboxClose:hover{background-position:bottom center;}

/* easy slider*/

/* image replacement */
.graphic, #prevBtn, #nextBtn{
margin:0;
padding:0;
display:block;
overflow:hidden;
text-indent:-8000px;
}
/* // image replacement */

/* Easy Slider */

#slider{ position:absolute; top:0px; left:0px; z-index:92;
height:100%; overflow:hidden;/* dave vychtavka */
}
#slider ul, #slider li{
margin:0;
padding:0;
list-style:none;
}
#slider li{
/*
define width and height of list item (slide)
entire slider area will adjust according to the parameters provided here
*/
width:993px;
height:239px;
overflow:hidden;
}
#prevBtn, #nextBtn{
display:block;
width:44px;
height:239px;
position:absolute;
left:-22px;
top:98px;
z-index:93;
}
#nextBtn{
left:972px;
}
#prevBtn a, #nextBtn a{
display:block;
width:44px;
height:44px;
background: url(../images/slider/arrow-prew-next.png) no-repeat 0 0;
}
#nextBtn a{
background: url(../images/slider/arrow-prew-next.png) no-repeat 0 -44px;
}

/* // Easy Slider */


/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    /*display: block;*/
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    /*-moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: solid #fff 5px;*/
    left: -5px;
    background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}



.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

/*-----------------------------------------------------------------------------*/
} /* end media screen */

@media (max-width: 720px) {

} /* end media max-width: 720px */

@media (max-width: 768px) {

} /* end media max-width: 768px */

@media (min-width: 768px) and (max-width: 980px) {

} /* end media min-width: 768px and max-width: 980px */

@media (max-width: 980px) {

} /* end media max-width: 980px */

@media (min-width: 980px) {
} /* end media min-width: 980px */

@media (min-width: 1200px) {
} /* end media min-width: 1200px */

@media (min-width: 1550px) {
} /* end media min-width: 1550px */





@media print {
body {
background:white;
color:black;
font-size:12pt;
}
a:after {
content:" (" attr(href) ") ";
font-size:90%;
}
a img { border:0; }
#header { border-bottom:1px solid black; }
table.pagination a:after { content:""; }
}  /* end media print */