@media screen, projection {

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;padding:0;
border:0;outline:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;
background:transparent;
}

:focus { outline:0; }

table {
border-collapse:collapse;
border-spacing:0;
}

a img { border:0; }

/*-------------------------- typo--------------------------*/
body {
font-size:11px;
font-family:Arial,Helvetica;
font-style:normal;
font-variant:normal;
font-weight:normal;
}

h1, h2, h3, h4, h5, h6 {
font-weight:normal;
}

strong { font-weight: bold; }
em { font-style: italic; }
dfn { font-style: italic;font-weight: bold; }
blockquote {
font-style:italic;
margin:1.5em;padding-left:1.5em;
}


/*-----------------------------------------------------------*/

body {font-size: 12px; color: #5a5b5c; background: #ffffff; font-family:Arial, Helvetica, sans-serif;}

#wrapper { width:993px; margin: 0 auto;}

#header { width:993px; height:115px; margin: 0 auto 30px auto; position:relative; color:#FFFFFF;
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
-moz-border-radius:0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius:0 0 5px 5px; color:#eacccc; background-color:#00b6cc;
background-image: -ms-linear-gradient( top, rgba( 225, 186, 1, 1 ), rgba( 242, 200, 0, 1 ) );
background-image: -o-linear-gradient( top, rgba( 225, 186, 1, 1 ), rgba( 242, 200, 0, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ba01', endColorstr='#f2c800'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#e1ba01), to(#f2c800)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #e1ba01, #f2c800); /* for firefox 3.6+  */}
#header a { color:#FFFFFF;}
#header a:hover { color:#efeff0;}
#header p { width: 300px; float:right; text-align:right; padding-right:20px; color:#35383c;}
a#logo { display:block; width: 210px; height: 14px; padding:15px; text-decoration:none; position:absolute; top: 4px; left: 0px; background: #35383c;
-moz-border-radius:0 5px 5px 0 ; -webkit-border-radius: 0 5px 5px 0 ; border-radius:0 5px 5px 0 ; color:#FFFFFF;}

#menu {width:970px; height:33px; font-size:12px; text-align:center;  position:absolute; top: 66px; left: 10px;
-moz-box-shadow: inset 0 0 1px #ffffff; -webkit-box-shadow: inset 0 0 1px #ffffff; box-shadow: inset 0 0 1px #ffffff;
border:#24262a solid 1px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; background-color:#FFFFFF;
background-image: -ms-linear-gradient( top, rgba( 37, 39, 43, 1 ), rgba( 54, 57, 62, 1 ) );
background-image: -o-linear-gradient( top, rgba( 37, 39, 43, 1 ), rgba( 54, 57, 62, 1 ) ); /* for opera */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25272b', endColorstr='#36393e'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#25272b), to(#36393e)); /* for webkit browsers */
background: -moz-linear-gradient(center top , #25272b, #36393e); /* for firefox 3.6+  */}
#menu ul { margin:0;}
#menu li {display:inline; list-style-type:none;}
#menu a {text-decoration:none; color:#eaeaeb; display:block; height:27px; padding:2px 4px; border-right:#666 1px solid; line-height:27px;}
#menu li a {display:inline-block; white-space:nowrap;}
#menu a:hover { border-top:#b6b7b7 dotted 1px; border-bottom:#b6b7b7 dotted 1px; color:#ffffff;}
#menu li.selected a {background:#e2ba01; color:#202020; border-top:#f2e29b solid 1px; border-bottom:#e2ba01 solid 1px;}

#obsah {margin:22px 0; border:#dcdde0 solid 1px; padding:14px; background:#f0f0f0;
-moz-border-radius:3px; -webkit-border-radius: 3px; border-radius:3px;
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);}

hr { color: #B0B1BD; background-color: #B0B1BD; border:none; height: 1px; margin: 6px 0 6px 0; clear:both;}

#slozkySoubory { margin:10px;}
#slozkySoubory ul { margin-bottom:8px;}
#slozkySoubory li {list-style-type:none; line-height:14px;}
#slozkySoubory li strong, .ikoSlozka {background:url(../images/iko_slozka.png) no-repeat left top; padding-left:20px;}
#slozkySoubory li ul li a {background:url(../images/iko_slozka.png) no-repeat; background-position:0 -34px; padding-left:20px;}

table.items .ikonyDef a { text-align:left; background:url(../images/iko_slozka.png) no-repeat; background-position:0 5px; padding-left:20px;}
table.items .ikonyDef strong a { text-align:left; background:url(../images/iko_slozka.png) no-repeat; background-position:0 -13px; padding-left:20px;}

.strankovani{ background:#e9e9eb; padding:5px; text-align:center; font-size:11px;
background-image: -webkit-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );
background-image:    -moz-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 190, 190, 190, 0.9 ) );
background-image:     -ms-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );
background-image:      -o-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );
background-image:         linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );}
.strankovani a { color:#303840; margin:0 2px 0 0; background:#45bfe2; padding:0 3px; color:#fff; font-style:normal;
-moz-border-radius:6px; -webkit-border-radius: 6px; border-radius:6px;}
.strankovani a:hover { color: #fff; background:#14667e;}
.strankovani a.selected { font-size:18px; background: none;color:black; }
.strankovani a.move { background: none;color:black; margin:0;}
.strankovani a:hover.move { color:#45bfe2;}

.footer { text-align:right; font-size:11px;}

h1, h2, h3, h4, h5 {
font-family:Arial,Helvetica,sans-serif;
font-size:19px;
font-weight:normal; padding:0 0 10px 0; letter-spacing:-1px;
}

h4 {
font-size:14px;
font-weight:bold;
}

h5 {
font-size:12px;
font-weight:bold;
}

p {
margin:0;
padding:6px 0;
line-height:1.3;
text-align:justify;
}

a {color:#717171;}
a:hover {color:#00CCFF;}

select, input, textarea {background: #F1F1F7; border:1px solid #D3D4DC; color:#303840;}
textarea { width:100%; }

input[maxlength="3"] { width:5em; }
input[maxlength="10"] { width:10em; }
input[maxlength="16"] { width:14em; }
input[maxlength="20"] { width:14em; }
input[maxlength="30"] { width:26em; }
input[maxlength="50"] { width:26em; }
input[maxlength="70"] { width:26em; }
input[maxlength="100"] { width:26em; }
input[maxlength="150"] { width:33em; }
input[maxlength="200"] { width:40em; }
input[maxlength="250"],input[maxlength="252"], input[maxlength="255"] { width:40em; }

fieldset {
background: none repeat scroll 0 0 #F7F9FB;
border: 1px dotted #939FA7;
width: 96%;
margin:10px;
padding:10px 3px 10px 3px;
}
legend {moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:2px 5px;
background: #3a3a3a; border: 1px solid #171717; color: #FFFFFF; font-weight: bold; margin:0 10px;}

.boxliter {border: 1px solid #939FA7; margin:20px 5px 5px; padding:20px 5px 5px; moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; position:relative;}
.legenda {moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:2px 5px; position:absolute; top:-10px ; left:5px;
background: #3a3a3a; border: 1px solid #171717; color: #FFFFFF; font-weight: bold; margin:0 10px;}
.boxliter table { width:100%;}
.boxliter table td {border-bottom: 1px solid #939FA7; padding-bottom:3px;}
.boxliter table th { background: #939FA7; color:#FFF;}

blockquote {
background-color:#f2f8fd;
border-bottom:1px solid #a7a9b1;
border-top:1px solid #a7a9b1;
font-style:normal;
margin:10px;
padding:4px;
}

.hidden { display: none;}

.clickable {cursor: pointer; text-decoration: underline; }

td a { display:block; padding:2px; }
td a:hover {background-color:#c58905; color:#fff;}

td fieldset a {display: inline; padding:2px;}

td.number { text-align: right; }

#lgUser {display:block; height: 20px; width: 300px; text-decoration:none; position:absolute; top:28px; right: 12px; text-align:right;}



.userLog, .userLog form { width:209px; height:111px; background: #3a3a3a url(../images/bg_userLog.jpg) no-repeat; color:#fff; border:none; margin:15px 0 0 0; padding:0;}
.userLog p{ padding:13px;}
.userLog a { color:#53c5ff; }
.userLog a:hover { color:#2a95cb; }
.userLog button {float: right;}
.userLog table td {border: none;}
.userLog table {margin:4px; }


#sidebar {
width:220px;
float:left;
}

#sidebar ul {
margin:30px 0 60px 0;
padding:0;
width:209px; font-size:18px; font-weight:normal;
}
#sidebar li {
height: 25px;
padding:0;margin:0;
overflow: hidden;
}
#sidebar ul a {
text-decoration: none;
display:block;
height:100%;width:209px;
padding:0 0 0 20px; line-height:25px;
}

#sidebar ul a:hover, #sidebar ul li.selected a {font-weight:bold; }
#sidebar ul li.selected {color:#FFFFFF;}

/*main content*/
#article {
width:770px;
float:right;
overflow:auto;
}


#errMsg, p.warning, .msg {
background-color:#9f0000;
border-bottom:1px solid #f90000;
border-top:1px solid #f90000;
color:#FFF;
padding:5px 0 5px 0;
margin-bottom:10px;
text-align:center;
}
.msg { margin:0;}
#errMsg:empty, .msg:empty { display:none; }
#errMsg.empty, .msg.empty { display:none; } /*kvuli msie samostatny selector */

input.error { border:#CC0000 solid 1px; -moz-box-shadow: 0 0 6px rgba(255, 0, 18, 0.5); -webkit-box-shadow: 0 0 6px rgba(255, 0, 18, 0.5); box-shadow: 0 0 6px rgba(255, 0, 18, 0.5);}
label.error { background-color:#8f000a; color:#FFF; font-size:10px; padding:2px 6px; display: block; margin:5px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}


/* filter form above list of records */
form.frmFilter {
width:100%; text-align:center; border:#E4E5E8 solid 1px; background-color:#fefeff;
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
background-image: -webkit-linear-gradient( top, rgba( 254, 254, 255, 0.0 ), rgba( 242, 242, 248, 0.9 ) );
background-image:    -moz-linear-gradient( top, rgba( 254, 254, 255, 0.0 ), rgba( 242, 242, 248, 0.9 ) );
background-image:     -ms-linear-gradient( top, rgba( 254, 254, 255, 0.0 ), rgba( 242, 242, 248, 0.9 ) );
background-image:      -o-linear-gradient( top, rgba( 254, 254, 255, 0.0 ), rgba( 242, 242, 248, 0.9 ) );
background-image:         linear-gradient( top, rgba( 254, 254, 255, 0.0 ), rgba( 242, 242, 248, 0.9 ) );
}
form.frmFilter table { margin:0 0 0 auto; }
form.frmFilter td { vertical-align:bottom; padding:2px;}
form.frmFilter input[type="text"] { max-width:12em; }

form.frmFilter .ui-button-text { font-size:12px; padding:0 10px;}

/* pagination */
table.pagination {
width:100%; border:#c7c9d3 solid 1px; background:#e9e9eb; padding:5px; text-align:center;
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
background-image: -webkit-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );
background-image:    -moz-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 190, 190, 190, 0.9 ) );
background-image:     -ms-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );
background-image:      -o-linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );
background-image:         linear-gradient( top, rgba( 234, 234, 236, 0.0 ), rgba( 225, 225, 231, 0.9 ) );

empty-cells:hide;margin: 10px 0 10px 0;}

table.pagination a {padding:0 4px;}
table.pagination a.selected { font-weight: bold; }
table.pagination td.pages { text-align: right; }
table.pagination td.first,
table.pagination td.prev,
table.pagination td.next,
table.pagination td.last {
width:1em;
text-align:center;
}

/* list of records */
table.items {
margin: 15px 0 15px 0;
border-right:#b6b8c2 1px solid;
border-left:#b6b8c2 1px solid;
border-bottom:#b6b8c2 1px solid;
width:99.6%;
border-collapse: collapse;
border-spacing:0;
}
table.items th span.ui-icon { display: inline-block; }

table.items th {background-color: #505157; color: #fff; text-align: left; padding:3px;}
table.items th a {color:#fff;}
table.items th a:hover { background:#c80000; color:#fff;}
table.items td {background: #e8e7ed; padding:0 5px; cursor:pointer; border-bottom:#d5d3dd 1px solid;}
table.items tr:hover td, table.items tr:hover td a { background:#c80000; color:#fff;}
table.items tr:hover td a:hover {background-color:#c58905; color:#fff;}
table.items a {display:block; width:96%;height:100%; text-align:center;}
table.items col.swap { width:3.2em; }
table.items col.edit { width:4.8em; }

table.items td.level1 { padding-left: 2em; }
table.items td.level2 { padding-left: 4em; }
table.items td.level3 { padding-left: 4em; }

option.level1 { padding-left: 1em; }
option.level2 { padding-left: 2em; }
option.level3 { padding-left: 3em; }


/* edit form */
table.edit { width:99%; }
table.edit td, table.edit th {
padding:2px;
border:1px solid #a8b3ba;
background: #fffffd;
}
table.edit th {
text-align:left;
vertical-align:top;
width:10em;
}
p.buttons {
width:97%;
margin:5px auto 5px 0;
}
p.buttons a { text-decoration:none; }
fieldset li { list-style-type: none; }

table.edit td.viewImg { vertical-align:top; max-width:900px;}

table.edit select { max-width: 900px;}

dl.ergoTabs dd div img{vertical-align:top; max-width:900px; }

table.edit td.viewImg div { width:900px;height:675px; overflow:auto;}

#frmLogin { width:420px; margin:30px auto; text-align:center;}
#frmLogin input { width:150px; }
#frmLogin table.edit th, #frmLogin table.edit td { text-align:center; border:none; padding:10px;}
#frmLogin table {-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);}

a.buton {background: #c3c3c3; color:#000; font-size:12px; font-weight: bold; line-height:21px; height:21px; padding:3px 24px; text-decoration:none; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;}
a:hover.buton, input:hover.buton, input[type=button]:hover, input[type=submit]:hover, button:hover.buton, a:hover.butonSmall {background: #c3c3c3; color: #fff;  -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px; cursor:pointer;}
input.buton, button.buton, input[type=submit], input[type=button] {background: #c3c3c3; color:#000; font-size:11px; font-weight: bold; line-height:21px; height:21px; padding:0 4px; margin:0 4px; text-decoration:none; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;}

a.butonSmall, .strankovani a.butonSmall { color:#fff; background: #c3c3c3; color:#000; font-size:11px; line-height:17px; height:17px; padding:0 10px; text-decoration:none;  -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;}

.pagination td a { padding:5px;}
.pagination {margin:5px auto;}
.pagination select {margin: 0 5px;}



/* galllery */
#dropzone {
    width: 100%;min-height: 100px;
    border:1px solid black;
}

#tab3 {
     overflow: auto;
}

ul.gal  {
    width: 100%;
    margin: 0; padding: 0;
    display: inline;
}
ul.gal li {display: inline; width:238px; height:215px; margin:0 7px 20px 0; border:#e0e0e4 solid 1px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; overflow:hidden; float:left; position: relative; text-align:center;}
ul.gal li:hover { border:1px solid #EAC100;}

ul.gal li span { position: absolute; }
ul.gal li span[data-image-delete] { top:0; right: 0; }
ul.gal li span[data-image-move] { bottom: 0; left: 0; }
ul.gal li span[data-image-move][data-dir="down"] { left:auto; right: 0; }
ul.gal li textarea { margin:10px; border:#e6e6e7 solid 1px; background:#efeff0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:216px; text-align:center;}
ul.gal li button {padding:0 5px;}

ul.cross, ul.suggestcross, ul.suggestvariants, ul.variants { margin:0 40px 0 0; padding:0px;}
ul.cross li, ul.suggestcross li, ul.suggestvariants li, ul.variants li { margin-left: 10px;}
ul.cross li span, ul.suggestcross li span, ul.suggestvariants li span, ul.variants li span { float:right;}

p.level1 {
    padding-left: 2em;
    display: inline;

}

.dropimage {
     height: 600px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
    border: 2px solid #eac100; padding: 10px; background:#FFF; margin: 10px auto; text-align:center;
    overflow: auto;
}
/*.dropimage img {
    max-width: 600px;
}*/

.dropgalleryimage {
height: 150px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
    border: 2px solid #eac100; padding: 10px; background:#FFF; margin: 10px auto;
}


}

#ordersList .status3 td { background: #009900; color:#A5FFA5; }